.canvas {
    background-color: #344e41;
    width: 100%;
    height: 100vh;
}

#home {
    position: relative;
}

.presentation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.btn-1 {
    background-color: transparent;
    border-width: 1px;
    border-color: #fff;
    padding: 10px;
    color:#fff;
}