:root {
  --primary-color: #344e41;
  --secondary-color: #588157;
  --accent-color: #31adb5;
}

a {
  color: black;
}

a:active {
  color: var(--accent-color);
}

a:visited {
  color: var(--secondary-color);
}

input,
textarea,
select {
  font-family: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}

p {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
}

.fullscreen {
  width: 100%;
}

@supports (height: 100svh) {
  .fullscreen {
    height: 100svh;
  }
}

@supports (height: 100cqh) {
  .fullscreen {
    height: 100cqh;
  }
}

.canvas {
  background-color: var(--primary-color);
}

.presentation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}

.btn-1 {
  margin: 1.5rem 0;
  background-color: var(--secondary-color);
  border-width: 1px;
  border-color: var(--accent-color);
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  border-style: solid;
  transition: all 0.2s ease-out;
}

.btn-1:hover {
  background-color: var(--accent-color);
  border-width: 2px;
  cursor: pointer;
  color: black;
}

.profile-photo {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}

.icon {
  width: 1rem;
  fill: #fff;
}

.relative-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.scrolldown {
  margin: 2rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.scrolldown i {
  margin-top: 0.75rem;
  color: var(--accent-color);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.social {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.skill {
  margin-left: 5px;
  color: white;
  text-align: start;
}

.skill-progress {
  margin-left: 5px;
}

.skills-container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .skills-container {
    max-width: 600px;
  }

  #contact-form {
    max-width: 600px;
  }
}

.skill-bar {
  display: flex;
  margin: 0 15px 15px 15px;
  background-color: #eee;
  color: #666;
}

.skill-bar-fill {
  background-color: var(--accent-color);
  /* transition: 1.1s 0.2s width ease-in-out; */
  -webkit-transition: width 2s ease-out;
  -moz-transition: width 2s ease-out;
  -o-transition: width 2s ease-out;
  transition: width 2s ease-out;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.title-line {
  background-color: var(--primary-color);
  height: 4px;
  width: 50px;
  margin: 10px 0 50px 0;
}

#home {
  position: relative;
}

footer nav {
  margin: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem;
}

footer a:hover {
  color: var(--accent-color);
}

#contact-form {
  width: 80%;
}

#contact-form .fields,
textarea {
  width: 100%;
  margin: 0.25rem 0;
  border-color: var(--primary-color);
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  outline: none;
}

#submit {
  height: 3rem;
}

.fields {
  height: 2rem;
  padding: 0.25rem;
}

#name:focus,
#email:focus,
#message:focus {
  border: 2px solid var(--accent-color);
}

#contact-form textarea {
  min-height: 6rem;
  padding: 0.25rem;
}

#success {
  display: none;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

footer p {
  font-size: 0.8rem;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0.8rem 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
}

.project-card {
  position: relative;
  border-radius: 15px;
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project-card:hover {
  transform: scale(1.05);
  transition: ease;
  transition-duration: 0.2s;
}

.project-details {
  position: absolute;
  bottom: 0;
  padding: 5px;
  background-color: white;
  width: 100%;
}

.project-details:hover {
  cursor: pointer;
}

.project-details p {
  font-size: 1rem;
  text-align: left;
}

@media only screen and (max-width: 468px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 80%;
  }
}
